.service-area {
    padding: 110px 0 120px;
    background-color: #F7F7FF;
}
.section-title {
    color: #002147;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 575px) { 
    .service-area {
        padding: 60px 0 40px;
    }
    .section-title {
        font-size: 35px;
        margin-bottom: 20px;
    }
}
@media (min-width: 576px) and (max-width: 767px) { 
    .service-area {
        padding: 60px 0 40px;
    }
    .section-title {
        font-size: 35px;
        margin-bottom: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    .service-area {
        padding: 80px 0 50px;
    }
    .section-title {
        font-size: 35px;
        margin-bottom: 20px;
    }
}