/*------- contact css -------*/
.contact-bg {
    background-color: #F7F7FF;
    padding: 120px 0 120px;
}
.contact-form input, textarea {
    width: 48.3%;
    margin: 10px 0;
    padding: 10px 15px;
    text-transform: capitalize;
    color: #565872;
    outline: none;
}
textarea {
    height: 200px;
    resize: none;
}
.contact-bg h3 {
    font-family: 'Jost', sans-serif; 
    font-size: 30px;
    color: #002147;
    font-weight: 700;
}
.contact-bg h5, .contact-form h4 {
    font-family: 'Jost', sans-serif; 
    font-size: 20px;
    color: #002147;
    font-weight: 700;
}
.contact-bg p{
    color: #565872;
    font-weight: 500;
    margin-right: 65px;
}
.contact-bg .phone{
    margin: 30px 0;
}
.phone-icon, .email-icon {
    font-size: 18px;
    margin-right: 15px;
}
/*-------- media qurey ---------*/
@media (min-width: 320px) and (max-width: 575px) { 
    .contact-form input, textarea {
        width: 100%;
        margin: 10px 0;
    }
    .contact-form {
        margin-top: 30px;
    }
    .contact-bg {
        padding: 60px 0;
    }
}
@media (min-width: 576px) and (max-width: 767px) { 
    .contact-form input, textarea {
        width: 100%;
        margin: 10px 0;
    }
    .contact-form {
        margin-top: 30px;
    }
    .contact-bg {
        padding: 60px 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    .contact-form input, textarea {
        width: 47.3%;
    }
    .contact-bg {
        padding: 80px 0;
    }
}